body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: body-font;
  src: url(./Styles/Fonts/AkzidenzGroteskPro-Regular.woff2);
}

@font-face {
  font-family: body-bold-font;
  src: url(./Styles/Fonts/AkzidenzGroteskPro-Bold.woff2);
}

@font-face {
  font-family: heading-font;
  src: url(./Styles/Fonts/SaolDisplay-Light.woff2);
}

@font-face {
  font-family: heading-italic-font;
  src: url(./Styles/Fonts/SaolDisplay-LightItalic.woff2);
}

h1 , h2, h3, h4, span, p, li{
  font-family: body-font;
  font-weight: 400;
}

:focus {
  outline: none !important;
}

::selection {
  display: none;
}


.main-button {
  color: #ffffff;
  font-family: body-font;
  position: relative;
  font-size: 14px;
  padding-bottom: 6px;
  text-decoration: none;
  z-index: 5;
}

.main-button::after {
  content: "";
  transform-origin: left;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  transform: scaleX(1); /* Start with no underline */
  background: white;
  height: 1px;
  transition: transform 0.3s ease-out, width 0.3s ease-out;
}

.main-button:hover::after {
  width: 0;
  transform: scaleX(0);
}

.main-button-black {
  color: black;
  font-family: body-font;
  position: relative;
  padding-bottom: 6px;
  font-size: 14px;
  text-decoration: none;
  z-index: 5;
}

.main-button-black::after {
  content: "";
  transform-origin: left;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  transform: scaleX(1); /* Start with no underline */
  background: black;
  height: 1px;
  transition: transform 0.3s ease-out, width 0.3s ease-out;
}

.main-button-black:hover::after {
  width: 0;
  transform: scaleX(0);
}

a {
  text-decoration: none;
  color: black;
}

li {
  cursor: pointer;
  list-style-type: none;
}

.sale-badge {
  position: absolute;
  left: 25px;
  top: 25px;
  background-color: #CE3737;
  color: white;
  padding: 5px 9px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 2;
}

.ant-rate {
  color: black !important;
}

.loading-box {
  height: calc(100vh - 58px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-products-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  font-size: 30px;
  min-height: 60vh;
}

.no-products-message > h1,p {
  font-family: heading-font;
  font-weight: 400;
}

.no-products-message > p {
  margin-top: 20px;
  margin-bottom: 50px;
}