.header {
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 11;
}

.announcment-bar {
  width: 100%;
  padding: 2px 0;
  background-color: #f6f4f2;
}

.announcment-text {
  font-family: body-font;
  font-size: 10px;
  text-decoration: none;
  color: black;
}

nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-div {
  width: 36%;
}

.logo-div img {
  float: left;
  width: 160px;
}

.nav-middle-div {
  width: 33%;
  position: relative;
  min-width: 550px;
  display: flex;
  justify-content: center;
}

.nav-sale-btn {
  color: #ff0000 !important;
}

.nav-shop-box {
  display: flex;
}

/* mega Menu starts */

.megamenu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}

.megamenu-content {
  text-align: start;
}

.megamenu-content > h4 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #b7b7b7;
}

.megamenu-content > ul > li {
  list-style-type: none;
  text-align: start;
  margin: 9px 0;
}

.megamenu-btns {
  font-family: body-font;
  text-decoration: none;
  color: black;
  min-height: 100%;
  font-size: 14px;
  cursor: pointer;
}

.nav-shop-box:hover .megamenu {
  opacity: 1 !important;
  visibility: visible;
}

/* mega Menu ends */

.nav-third-div {
  width: 36%;
  display: flex;
  justify-content: flex-end;
}

.nav-third-btns {
  font-family: body-font;
  text-decoration: none;
  color: black;
  padding: 16px 0;
  margin: 0 16px;
  min-height: 100%;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

/* search section starts */

.nav-search-box {
  display: flex;
}

.search-content-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-content-wrapper > form {
  display: flex;
}

.search-box {
  width: 100%;
  padding: 16px 20px;
  font-family: body-font;
  border: none;
}

.search-btn {
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-results-wrapper {
  background-color: white;
}

.search-no-results {
  padding: 25px 0;
  font-family: body-font;
}

.nav-products-wrapper {
  background-color: white;
}

.all-products-box {
  padding: 25px 0;
}

.box-overlay,
.drawer-overlay,
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(5 5 5 / 30%);
  z-index: -1;
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.search-open,
.drawer-open,
.cart-open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.drawer-open {
  visibility: visible;
  opacity: 1;
  z-index: 12;
}

/* search section ends */

.nav-btns {
  font-family: body-font;
  text-decoration: none;
  color: black;
  padding: 16px 0;
  margin: 0 16px;
  min-height: 100%;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.nav-btns::after {
  content: "";
  transform-origin: left;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  transform: scaleX(0); /* Start with no underline */
  background: black;
  height: 2px;
  transition: transform 0.3s ease-out, width 0.3s ease-out;
  z-index: 11;
}

.nav-btns:hover::after {
  width: 100%;
  transform: scaleX(1); /* Expand the underline */
}

.nav-btns.active::after {
  width: 100%;
  transform: scaleX(1);
}

.menu-btn {
  margin-left: 20px;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  margin: 3px 0px;
  width: 30px;
  height: 1px;
  margin-top: 4px;
  background-color: black;
}

/* menu drawer starts */

.menu-drawer {
  display: none;
  height: 100vh;
  width: 100%;
  max-width: 340px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transform: translate(-110%);
  transition: 0.3s all;
  z-index: 99;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.menu-logo {
  width: 150px;
}

.menu-btn {
  display: none;
}

.shop-cart-icon {
  display: none;
}

.menu-navigations {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px;
}

.menu-bottom {
  width: 100%;
}

.menu-bottom > li {
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.menu-btns {
  font-size: 50px;
  font-family: heading-font;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 2px 0;
}

.menu-last-btns {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 20px 15px;
  display: block;
}

/* menu drawer ends */

/* cart drawer starts */

.cart-drawer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
  z-index: 99;
  width: 33.33vw;
  transform: translate(100%);
  transition: .3s;
}

.cart-drawer > form {
  height: 100%;
}

.cart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cart-title {
  font-family: heading-font;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-title > span {
  margin-left: 10px;
  font-size: 18px;
  padding: 5px 12px;
  background-color: black;
  color: white;
  border-radius: 100%;
}

.cart-close-btn {
  opacity: 50%;
}

.cart-products-wrapper {
  height: calc(100% - 46px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  align-items: center;
  padding: 20px;
}

.item-image {
  width: 100px;
}

.item-right {
  padding-left: 20px;
  width: 100%;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  font-size: 16px;
}

.item-sub-title {
  display: block;
  opacity: 50%;
  font-size: 14px;
  padding-top: 4px;
}

.item-remove-btn {
  opacity: 40%;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-size: 13px;
  cursor: pointer;
}

.item-prices {
  text-align: start;
  padding: 11px 0px;
  font-size: 14px;
}

.item-price {
  color: #ff0000;
}

.item-prev-price {
  text-decoration: line-through;
  padding-left: 30px;
}

.item-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.item-sizes-dropdown {
  width: calc(50% - 2px);
  position: relative;
  cursor: pointer;
}

.item-sizes-dropdown > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  font-size: 12px;
  transition: .3s;
  line-height: 150%;
}

.item-sizes-dropdown > ul {
  box-shadow: 0 2px 2px #0000001a;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: white;
  max-height: 224px;
  overflow: auto; 
  display: none;
}

.dropdown-active {
  display: block;
}

.item-sizes-dropdown > ul > li {
  text-align: start;
  padding: 13px 20px;
  font-size: 12px;
}

.item-quantity {
  width: calc(50% - 2px);
}

.item-quantity > ul {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.item-quantity > ul > li {
  width: 33.33%;
  font-size: 12px;
  font-family: sans-serif;
}

.item-quantity > ul :first-child {
  opacity: 50%;
  cursor: pointer;
} 

.item-quantity > ul :last-child {
  opacity: 50%;
  cursor: pointer;
}

.cda-wrapper {
  display: block;
  width: 100%;
  padding: 20px;
}

.cda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cda-title {
  font-family: heading-font;
  font-size: 21px;
}

.cda-hide {
  opacity: 80%;
  cursor: pointer;
}

.cda-items {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-top: 13px;
}

.item-card {
  position: relative;
  width: calc(50% - 4px);
}

.card-item-image {
  vertical-align: middle;
}

.item-card-meta {
  text-align: start;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  font-size: 13px;
}

.item-card-meta > a {
  color: white;
}

.item-card-meta > span {
  display: block;
  padding-top: 5px;
}

.cart-footer {
  padding: 0 20px 20px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
}

.item-discount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.item-discount > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 14px;
  color: #515151;
  line-height: 14px !important;
}

.item-discount > span {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.item-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 14px;
}

.item-checkout-btn {
  width: 100%;
  padding: 20px 24px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 10px;
  font-family: body-font;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.cart-payments-cards {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 30px 0;
}

.cart-payments-cards > li {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-payments-cards > li > svg {
  width: 30px;
  height: 20px;
}

/* cart drawer ends */

@media (max-width: 1024px) {
  .nav-products-wrapper {
    overflow: auto;
    position: fixed;
    top: 127px;
    height: calc(100% - 119px);
    z-index: 1;
    left: 0;
    right: 0;
  }
  .nav-middle-div {
    display: none;
  }
  .nav-third-btns {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .shop-cart-icon {
    display: block;
  }
  .menu-drawer {
    display: block;
  }
}
