.lookbook-box {
    width: 100%;
    height: calc(100vh - 78px);
    position: relative;
    display: block;
    margin: 4px 0 0;
}

.lookbook-box > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.lookbook-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    padding: 0 100px;
    margin: 0 auto;
    max-width: 750px;
    z-index: 1;
}

.lookbook-content > span {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.lookbook-title {
    color: white;
    font-size: 32px;
    font-family: heading-font;
    margin: 7px 0;
}

.lookbook-title > span {
    font-family: heading-italic-font;
}

.lookbook-box::after{
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.9%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: .7;
}

@media (max-width: 1024px) {
    .lookbook-content {
        padding: 0 16px;
    }
}